

main {
    display: flex;
    flex: 1;
    width: 100%;
    height: 100%;
}
 .icon {
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .icon-left {
    margin-right: 16px;
 }

 .section-wrapper {
    width: 100%;
    min-height: 100%;
 }

 .Map-container {
    width: 100%;
    height: 100%;
 }
